<!-- <div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-1 col-lg-1 col-sm-0 xs-0"></div>
        <div class="col-md-10 col-lg-10 col-sm-12 xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Course</th>
                        <th>College</th>
                        <th>University / Board</th>
                        <th>CGPA</th>
                        <th>Percentage</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>MSC-(CS)</td>
                        <td>Tulajaram Chaturchand College Baramati</td>
                        <td>Savitribai Phule University Pune</td>
                        <td>9.3/10</td>
                        <td>75%</td>
                        <td>July-2022</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>BSC-(CS)</td>
                        <td>Vidnyan Mahavidyalaya Sangola</td>
                        <td>Solapur University Solapur</td>
                        <td>8.48/10</td>
                        <td>69%</td>
                        <td>Oct-2020</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>12<sup>th</sup> Science</td>
                        <td>New English School & Jr. College Sangola</td>
                        <td>Maharashtra State Board</td>
                        <td>-NA-</td>
                        <td>50%</td>
                        <td>Mar-2017</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>10<sup>th</sup></td>
                        <td>Junoni Vidyalaya Junoni</td>
                        <td>Maharashtra State Board</td>
                        <td>-NA-</td>
                        <td>53%</td>
                        <td>Mar-2015</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1 col-lg-1 col-sm-0 xs-0"></div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 xs-12">
            <div class="all-course">
                <div class="masters course">
                    <div class="imagePart">
                        <img src="/assets/Images/msc-certificate.png" alt="Devloper Image" />
                    </div>
                    <div>
                        <ul>
                            <li> <fa-icon [icon]="degreeIcon"></fa-icon>&nbsp; <b>Masters of Computer Science</b></li>
                            <li> <fa-icon [icon]="collegeIcon"></fa-icon>&nbsp; Tulajaram Chaturchand College Baramati</li>
                            <li> <fa-icon [icon]="universityIcon"></fa-icon>&nbsp;  Savitribai Phule University Pune</li>
                            <li> <fa-icon [icon]="marksIcon"></fa-icon>&nbsp;  CGPA : <b>9.3 </b> Marks : <b>75%</b> </li>
                            <li><fa-icon [icon]="dateIcon"></fa-icon>&nbsp;  Nov-2020 - July-2022</li>
                        </ul>
                    </div>
                </div>
                <div class="bachelor course">
                    <div class="imagePart">
                        <img src="/assets/Images/bsc-certificate.jpg" alt="Devloper Image" />
                    </div>
                    <div>
                        <ul>
                            <li> <fa-icon [icon]="degreeIcon"></fa-icon>&nbsp; <b>Bachelor of Computer Science</b></li>
                            <li> <fa-icon [icon]="collegeIcon"></fa-icon>&nbsp;  Vidnyan Mahavidyalaya Sangola.</li>
                            <li> <fa-icon [icon]="universityIcon"></fa-icon>&nbsp;  Punyashlok Ahilyadevi Holakar <br>Solapur University, Solapur.</li>
                            <li> <fa-icon [icon]="marksIcon"></fa-icon>&nbsp;   CGPA : <b>8.48 </b>Marks : <b>69%</b> </li>
                            <li><fa-icon [icon]="dateIcon"></fa-icon>&nbsp;  July-2017 - Oct-2020</li>
                        </ul>
                    </div>
                </div>
                <div class="12th course">
                    <div class="imagePart">
                        <img src="/assets/Images/12th-marks.jpg" alt="Devloper Image" />
                    </div>
                    <div>
                        <ul>
                            <li> <fa-icon [icon]="degreeIcon"></fa-icon>&nbsp; 12 <sup>th</sup> Science</li>
                            <li> <fa-icon [icon]="collegeIcon"></fa-icon>&nbsp;  New English School & Jr College Sangola.</li>
                            <li> <fa-icon [icon]="universityIcon"></fa-icon>&nbsp;  Maharashtra State Board</li>
                            <li> <fa-icon [icon]="marksIcon"></fa-icon>&nbsp;   <b>Marks : </b>50%</li>
                            <li><fa-icon [icon]="dateIcon"></fa-icon>&nbsp;  Jun-2016 - Mar-2017</li>
                        </ul>
                    </div>
                </div>
                <div class="10th course">
                    <div class="imagePart">
                        <img src="/assets/Images/10th-marks.jpg" alt="Devloper Image" />
                    </div>
                    <div>
                        <ul>
                            <li> <fa-icon [icon]="degreeIcon"></fa-icon>&nbsp; 10 <sup>th</sup>Marathi</li>
                            <li> <fa-icon [icon]="collegeIcon"></fa-icon>&nbsp;  Junoni Vidyalaya Junoni</li>
                            <li> <fa-icon [icon]="universityIcon"></fa-icon>&nbsp;  Maharashtra State Board</li>
                            <li> <fa-icon [icon]="marksIcon"></fa-icon>&nbsp;   <b>Marks : </b>53%</li>
                            <li><fa-icon [icon]="dateIcon"></fa-icon>&nbsp;  Jun-2014 - Mar-2015</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>