<div class="container-fluid">
    <div class="row">
        <div class="main-box">
            <div class="col-md-4 col-lg-4 col-sm-12 xs-12 footer media">
                <div class="socialMedia">
                    <ul>
                        <li ><p>Social Media : </p></li>
                        <li> <a href="https://www.linkedin.com/in/annaso-kore1999/" target="_blank"><fa-icon [icon]="linkdinIcon"></fa-icon> Linkedin</a></li>
                        <li><a href="https://github.com/"><fa-icon [icon]="gitIcon"></fa-icon> Git</a></li>
                        <li><a href="https://profile.indeed.com/">Indeed</a></li>
                        <li><a href="https://www.naukri.com/mnjuser/homepage">Nokari</a></li>
                    </ul>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="/assets/Aannaso-AngularDev.pdf" download>Resume</a></li>
                        <li><a routerLink="/experience" routerLinkActive="Active">Experience</a></li>
                        <li><a routerLink="/project" routerLinkActive="Active">Project</a></li>
                        <li><a routerLink="/skills" routerLinkActive="Active">skill</a></li>
                        <li><a routerLink="/education" routerLinkActive="Active">Education</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 xs-12 footer ">
                <div class="contact">
                    <ul>
                        <li><p>contact : </p></li>
                        <li>
                            <p><strong>Phone No. : </strong>+91 9890 20 5790</p>
                        </li>
                        <li>
                            <p><strong>Email Id : </strong> {{email}}</p>
                        </li>
                        <li><p>Address : </p></li>
                        <li><p>A\P Junoni, Tahasil - Sangola, <br>Dist - Solapur, Maharashtra. </p></li>
                    </ul>
                </div>
                <div class="address mt-3">
                 <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30483.65729052566!2d74.98364540518892!3d17.24510385152793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc6b2fcea60641d%3A0x8972d9b13d68604d!2sJunoni%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1725541013866!5m2!1sen!2sin" width="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                </div>
            </div>
        </div>
    </div>
</div>