<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-0 xs-0"></div>
        <div class="col-md-8 col-lg-8 col-sm-12 xs-12">
            <div class="main-box">
                <div class="intern">
                    <div class="job-title">
                        <p>Angular Developer</p>
                    </div>
                    <div class="job-duration">
                       <fa-icon [icon]="dateIcon"></fa-icon>&nbsp; JUN-2023 - DEC-2023
                    </div>
                    <div class="job-description">
                        <p>
                            I have <b>6 Months</b> experience of <b>Angular Developer</b> training at <b>CodeMind Technology</b>,
                            PimpriChinchawad, Pune.
                        </p>
                        <p>
                            I worked on <b>Angular, TypeScript, JavaScript, CSS, HTML5</b> Also <b>Responsive Designs</b> using <b>Bootstrap</b> etc.
                        </p>
                        <p>
                            I did some <b>mini projects</b> in Angular, like <b>Keep Note</b>, <b>Employee CRUD</b> operations etc.  
                        </p>
                        <p>
                            Mostly used <b>Angular concepts</b> like, <b><i>Forms, Validations, Components, Directives, Services, Dependencies, RxJs Library, Pipes, JSON Server,</i></b> some kind of<b> <i> Observables</i></b> etc. 
                        </p>
                        <p>
                            To style and <b>Responsive Design</b> I used <b>Bootstrap and CSS</b>. <br><b>TypeScript</b> is used for <b>build BackEnd logic.</b> 
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-0 xs-0"></div>
    </div>
</div>