<div class="container">
    <div class="row">
        <div class="col-md-3 clo-lg-3 col-sm-0 xs-0"></div>
        <div class="col-md-6 won-shadow col-lg-6 col-sm-12 xs-12 be-light text-center mt-5 rounded ">
            <div class="m-2">
            <h1>OOPS!</h1><br>
            <h4>Page Not Found.</h4>
            <h6>Something Went Wrong.......</h6>
            <button class="btn btn-primary float-end  p-2 m-3" routerLink="/home" routerLinkActive="active">Go to Home</button>
            </div>
        </div>
        <div class="col-md-3 clo-lg-3 col-sm-0 xs-0"></div>
    </div>
</div>
