<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 clo-lg-1 col-sm-0 xs-0"></div>
        <div class="col-md-10 clo-lg-10 col-sm-12 xs-12">
            <div class="main-box">
                <div class="skill">
                    <div class="titleName">
                        <p><fa-icon [icon]="htmlIcon"></fa-icon> &nbsp;HTML5</p>
                    </div>
                    <div class="description">
                        <ul>
                            <li>Semantic Tags </li>
                            <li>Formatting Tags </li>
                            <li>Structure Tags </li>
                            <li>Table</li>
                            <li>Form / Form Tags</li>
                            <li>Media Tags</li>
                        </ul>
                    </div>
                </div>
                <div class="skill">
                    <div class="titleName">
                        <p> <fa-icon [icon]="cssIcon"></fa-icon> &nbsp;CSS</p>
                    </div>
                    <div class="description">
                        <ul>
                            <li>Basics</li>
                            <li>Selectors</li>
                            <li>Box-Model</li>
                            <li>Fonts & Colors Properties</li>
                            <li>Display & Position Prop.</li>
                            <li>CSS Unites</li>
                            <li>FlexBox</li>
                            <li>CSS Grid</li>
                            <li>Media Query</li>
                            <li>Animations</li>
                            <li>Transforms </li>
                        </ul>
                    </div>
                </div>
                <div class="skill">
                    <div class="titleName">
                        <p> <fa-icon [icon]="javascriptIcon"></fa-icon> &nbsp;JavaScript</p>
                    </div>
                    <div class="description">
                        <ul>
                            <li>Basic Fundamentals</li>
                            <li>Functions</li>
                            <li>Operators</li>
                            <li>Control flow Statement</li>
                            <li>String & Objects</li>
                            <li>Array & Collection</li>
                            <li>ES6 Future</li>
                            <li>JSON</li>
                            <li>OOPs</li>
                            <li>DOM Manipulation</li>
                            <li>Web Storage</li>
                        </ul>
                    </div>
                </div>
                <div class="skill">
                    <div class="titleName">
                        <p> <fa-icon [icon]="javascriptIcon"></fa-icon> &nbsp;TypeScript</p>
                    </div>
                    <div class="description">
                        <ul>
                            <li>Basic Fundamentals</li>
                            <li>Functions</li>
                            <li>Operators</li>
                            <li>Control flow Statement</li>
                            <li>String & Objects</li>
                            <li>Array & Collection</li>
                            <li>OOPs Concepts</li>
                        </ul>
                    </div>
                </div>
                <div class="skill">
                    <div class="titleName">
                        <p> <fa-icon [icon]="angularIcon"></fa-icon> &nbsp;Angular 8+</p>
                    </div>
                    <div class="description">
                        <ul>
                            <li>Component</li>
                            <li>Data Binding</li>
                            <li>Directives</li>
                            <li>Forms</li>
                            <li>Validations</li>
                            <li>Services</li>
                            <li>Dependency Injection</li>
                            <li>Routing</li>
                            <li>Modules</li>
                            <li>Pipes</li>
                            <li>APIs</li>
                            <li>RxJs Library</li>
                        </ul>
                    </div>
                </div>
                <div class="skill">
                    <div class="titleName">
                        <p> <fa-icon [icon]="javaIcon"></fa-icon> &nbsp;Java</p>
                    </div>
                    <div class="description">
                        <ul>
                            <li>Language Fundamentals</li>
                            <li>Operators</li>
                            <li>Flow Control</li>
                            <li>OOPs</li>
                            <li>JAVA 8 Features</li>
                            <li>Exception Handling</li>
                            <li>Multi Threading</li>
                            <li>InnerClasses</li>
                            <li>java.lang Package</li>
                            <li>File IO</li>
                            <li>Collections Frame Work</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="skill">
                    <div class="titleName">
                        <p>My SQL</p>
                    </div>
                    <div class="description">
                        <ul>
                            <li>Basics</li>
                            <li>DDl</li>
                            <li>DML</li>
                            <li>DQL</li>
                            <li>Joins</li>
                            <li>Sub Query</li>
                            <li>Functions</li>
                            <li>Procedure</li>
                            <li>Triggers</li>
                            <li>Inbuilt Functions</li>
                        </ul>
                    </div>
                </div>
                <div class="skill">
                    <div class="titleName">
                        <p> <fa-icon [icon]="bootstrapIcon"></fa-icon> &nbsp;Bootstrap</p>
                    </div>
                    <div class="description">
                        <ul>
                            <li>Basics</li>
                            <li>Grid System</li>
                            <li>Grid Classes</li>
                            <li>Form Classes</li>
                            <li>Content Classes</li>
                            <li>Components Classes</li>
                            <li>Utilities Classes</li>
                        </ul>
                    </div>
                </div>
                <div class="skill">
                    <div class="titleName">
                        <p>Hibernate</p>
                    </div>
                    <div class="description">
                        <ul>
                            <li>Basics</li>
                            <li>Hibernate Architectures</li>
                            <li>Mapping</li>
                            <li>HQL</li>
                            <li><b><i>Learning Process...</i></b></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="skill">
                    <div class="title">
                        <p>Spring</p>
                    </div>
                    <div class="description">

                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-md-1 clo-lg-1 col-sm-0 xs-0"></div>
    </div>
</div>
