<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 xs-12">
            <div class="all-project">
                <div class="portfolio">
                    <div class="image-slide">
                        <div id="PortfolioCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="100">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#PortfolioCarousel" data-bs-slide-to="0"
                                    class="active bg-danger" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#PortfolioCarousel" data-bs-slide-to="1"
                                    class=" bg-danger" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#PortfolioCarousel" data-bs-slide-to="2"
                                    class=" bg-danger" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#PortfolioCarousel" data-bs-slide-to="3"
                                    class=" bg-danger" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#PortfolioCarousel" data-bs-slide-to="4"
                                    class=" bg-danger" aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <!-- data-bs-interval="1000" for adding individual time to slide -->
                                    <img src="/assets/Images/Portfolio/Home.png" class="d-block w-100" alt="Home">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Portfolio/Experience.png" class="d-block w-100"
                                        alt="Experience">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Portfolio/project.png" class="d-block w-100" alt="Project">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Portfolio/Education.png" class="d-block w-100"
                                        alt="Education">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Portfolio/Skills.png" class="d-block w-100" alt="Skills">
                                </div>
                            </div>
                            <button class="carousel-control-prev " type="button" data-bs-target="#PortfolioCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next " type="button" data-bs-target="#PortfolioCarousel "
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon text-dark " aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="description">
                        <h3 class="text-center mt-3"><a href="https://github.com/AnnasoKore/Portfolio"  data-toggle="tooltip" role="tooltip" data-placement="top" title="Show github code" target="_blank">Portfolio</a></h3>
                        <ul>
                            <li class="text-end">                                
                                <p><fa-icon [icon]="dateIcon"></fa-icon>&nbsp;Aug-2024</p>
                            </li>
                            <li>
                                <p>It is <b>Web Application, </b>designed for introduce my self.</p> Like my education
                                details project information and contact details.
                            </li>
                            <li>
                                <p>I used <b>Angular, HTML </b> for frontend and <b>CSS, Bootstrap</b> for <b>Styling
                                    </b>web pages and also<b> Responsive design.</b></p>
                            </li>
                            <li>
                                <p>For backend logics, I used <b>TypeScript.</b>I used <b>JSON Server</b> for storing
                                    user data / Notes.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="keep-note">
                    <div class="image-slide">
                        <div id="keepNoteCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="100">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#keepNoteCarousel" data-bs-slide-to="0"
                                    class="active bg-danger" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#keepNoteCarousel" data-bs-slide-to="1"
                                    class=" bg-danger" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#keepNoteCarousel" data-bs-slide-to="2"
                                    class=" bg-danger" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <!-- data-bs-interval="1000" for adding individual time to slide -->
                                    <img src="/assets/Images/keepNote/home.png" class="d-block w-100" alt="Home">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/keepNote/new.png" class="d-block w-100" alt="Experience">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/keepNote/update.png" class="d-block w-100" alt="Project">
                                </div>
                            </div>
                            <button class="carousel-control-prev " type="button" data-bs-target="#keepNoteCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next " type="button" data-bs-target="#keepNoteCarousel "
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon text-dark " aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <h4 class="text-center mt-4">Keep Notes</h4>
                        <ul>
                            <li class="text-end">
                                <p><fa-icon [icon]="dateIcon"></fa-icon>&nbsp;Feb-2024</p>
                            </li>
                            <li>
                                <p>It is <b>Web Application, </b>designed for writing short notes. Like topic and it's
                                    description in this formate. You can <b>Create, Update, Read, Delete</b> notes.</p>
                            </li>
                            <li>
                                <p>I used <b>Angular, HTML </b> for frontend and <b>CSS, Bootstrap</b> for <b>Styling
                                    </b>web pages and also<b> Responsive design.</b></p>
                            </li>
                            <li>
                                <p>For backend logics, I used <b>TypeScript.</b>I used <b>JSON Server</b> for storing
                                    user data / Notes.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="msc-project">
                    <div class="image-slide">
                        <div id="BankCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="100">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="0"
                                    class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="1"
                                    class=" bg-dark" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="2"
                                    class=" bg-dark" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="3"
                                    class=" bg-dark" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="4"
                                    class=" bg-dark" aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="5"
                                    class="bg-dark" aria-label="Slide 6"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="6"
                                    class=" bg-dark" aria-label="Slide 7"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="7"
                                    class=" bg-dark" aria-label="Slide 8"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="8"
                                    class=" bg-dark" aria-label="Slide 9"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="9"
                                    class=" bg-dark" aria-label="Slide 10"></button>
                                <button type="button" data-bs-target="#BankCarousel" data-bs-slide-to="10"
                                    class=" bg-dark" aria-label="Slide 11"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <!-- data-bs-interval="1000" for adding individual time to slide -->
                                    <img src="/assets/Images/Bank/bank1.png" class="d-block w-100" alt="Home">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank2.png" class="d-block w-100" alt="Experience">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank3.png" class="d-block w-100" alt="Project">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank4.png" class="d-block w-100" alt="Education">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank5.png" class="d-block w-100" alt="Skills">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank6.png" class="d-block w-100" alt="Project">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank7.png" class="d-block w-100" alt="Education">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank8.png" class="d-block w-100" alt="Skills">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank9.png" class="d-block w-100" alt="Project">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank10.png" class="d-block w-100" alt="Education">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Bank/bank11.png" class="d-block w-100" alt="Skills">
                                </div>
                            </div>
                            <button class="carousel-control-prev " type="button" data-bs-target="#BankCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next " type="button" data-bs-target="#BankCarousel "
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon text-dark " aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <h4 class="text-center mt-4 mb-2">Bank Management System</h4>
                        <ul>
                            <li class="text-end"> <fa-icon [icon]="dateIcon"></fa-icon>&nbsp;Jan-2022 - Feb-2022</li>
                            <li>
                                <p>It is a <b>Web Application</b>. For design <b>basic/normal transactions.</b></p>
                            </li>
                            <li>
                                <p>We use <b>ASP.Net</b> for frontend as well as <b> CSS </b> for designing the web
                                    pages and we used <b>C#</b> for backend logics, and <b>SQL</b> for to store
                                    Customer and it's Transaction data.</p>
                            </li>
                            <li>
                                <p>We use the application for creating <b>new accounts, checking available balance</b>
                                    and some <b>transactions</b> such as <b>deposit, withdrawal and creating FD</b>.</p>
                            </li>
                            <li>We used <b>SAP Crystal Reports</b> for generating the <b>date wise transaction
                                    history</b> of <b>customer details,</b>
                                <b>transactions</b> or <b>accounts statements</b> and <b>passbook print.</b>
                            </li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="bsc-project">
                    <div class="image-slide">
                        <div id="OpticsCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="100">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="0"
                                    class="active bg-light" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="1"
                                    class=" bg-light" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="2"
                                    class=" bg-light" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="3"
                                    class=" bg-light" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="4"
                                    class=" bg-light" aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="5"
                                    class="bg-light" aria-label="Slide 6"></button>
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="6"
                                    class=" bg-light" aria-label="Slide 7"></button>
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="7"
                                    class=" bg-light" aria-label="Slide 8"></button>
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="8"
                                    class=" bg-light" aria-label="Slide 9"></button>
                                <button type="button" data-bs-target="#OpticsCarousel" data-bs-slide-to="9"
                                    class=" bg-light" aria-label="Slide 10"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <!-- data-bs-interval="1000" for adding individual time to slide -->
                                    <img src="/assets/Images/Optics/screenshot.png" class="d-block w-100" alt="Home">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Optics/screenshot1.png" class="d-block w-100"
                                        alt="Experience">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Optics/screenshot2.png" class="d-block w-100"
                                        alt="Project">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Optics/screenshot3.png" class="d-block w-100"
                                        alt="Education">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Optics/screenshot4.png" class="d-block w-100" alt="Skills">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Optics/screenshot5.png" class="d-block w-100"
                                        alt="Project">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Optics/screenshot6.png" class="d-block w-100"
                                        alt="Education">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Optics/screenshot7.png" class="d-block w-100" alt="Skills">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Optics/screenshot8.png" class="d-block w-100"
                                        alt="Project">
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/Images/Optics/screenshot9.png" class="d-block w-100"
                                        alt="Education">
                                </div>
                            </div>
                            <button class="carousel-control-prev " type="button" data-bs-target="#OpticsCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next " type="button" data-bs-target="#OpticsCarousel "
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon text-dark " aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <h4 class="text-center mt-4 mb-2">Optics Management System</h4>
                        <ul>
                            <li class="text-end"> <fa-icon [icon]="dateIcon"></fa-icon>&nbsp;Jan-2020 - Mar-2020</li>
                            <li>
                                <p>This is a <b>Desktop Application</b>. I used <b>C#</b> for backend as well as
                                    frontend used
                                    <b>Windows Form Application</b> template in <b>C#,</b> and We Used <b>SQL Server</b>
                                    for the database.
                                </p>
                            </li>
                            <li>
                                <p>It is a <b>billing system</b>, as well as it <b>maintain</b> the <b>stock</b> of
                                    products. Number of <b>customers</b>
                                    and <b>owners</b> can <b>handle</b> this system at a time.</p>
                            </li>
                            <li>
                                <p>Operators can access <b>accurate data</b> about
                                    the <b>products</b> and <b>customers</b> details.</p>
                            </li>
                            <li>We used <b>SAP Crystal Reports</b> for generating the <b>date wise reports</b> of
                                <b>customer details,</b>
                                <b>purchased</b> or <b>sold out products details</b> and <b>printed Customer Bill</b>
                            </li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>