<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 xs-12 text-div">
                <div class="my-intro">
                    <div>
                        <h1>Hello!</h1>
                        <div>
                            <p>I Am Aannaso Kore,<br> I'm Developer,<br> Passionate for Angular Developer,<br> Full Stack
                                Developer.</p>
                        </div>
                        <div>
                             
                             <a href="/assets/Aannaso-AngularDev.pdf" download><fa-icon [icon]="downloadIcon"></fa-icon>&nbsp;&nbsp;Resume</a>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 xs-12 ">
                <div class="image-div">
                    <img src="/assets/Images/web-design.jpg" alt="Developer Image">
                </div>
            </div>
        </div>
        
    </div>
</body>